<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h1 class="fw-bold SelfStorage_green">Добрый день, {{users.0.full_name}}!</h1>
					<h4 class="SelfStorage_grey my-5">У вас еще нет аренды :(<br>Но вы можете арендовать свой первый бокс  по  привлекательной цене прямо сейчас</h4>
					<div>
						<form action="{% url 'box_page' %}" target="_blank">
						<button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3"  >Арендовать бокс</button></form></div>
	                <a class="nav-link SelfStorage_black"</a>
					<a href="{% url 'faq_page' %}" class="SelfStorage_orange">Нужна помощь?</a>
</div>